# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [8]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [9]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [17]:
#  1. Get the total rides for each city type
rides_type_all = pyber_data_df.groupby(["type"]).count()["ride_id"]
rides_type_all

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [18]:
# 2. Get the total drivers for each city type
total_drivers_type = city_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [19]:
#  3. Get the total amount of fares for each city type
fare_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
fare_by_type

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [20]:
#  4. Get the average fare per ride for each city type. 
avg_fare = fare_by_type/rides_type_all
avg_fare

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [22]:
# 5. Get the average fare per driver for each city type. 
avg_fare_per_driver = fare_by_type / total_drivers_type
avg_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [24]:
#  6. Create a PyBer summary DataFrame. 
ride_summary_df = pd.DataFrame({
    "Total Rides": rides_type_all,
    "Total Drivers": total_drivers_type,
    "Total Fares": fare_by_type,
    "Average Fare per Ride": avg_fare,
    "Average Fare per Driver": avg_fare_per_driver})

ride_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [26]:
#  7. Cleaning up the DataFrame. Delete the index name
ride_summary_df.index.name = None
ride_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [27]:
# 8. Format the columns.
ride_summary_df["Total Rides"] = ride_summary_df["Total Rides"].map("{:,}".format)
ride_summary_df["Total Drivers"] = ride_summary_df["Total Drivers"].map("{:,}".format)
ride_summary_df["Total Fares"] = ride_summary_df["Total Fares"].map("${:,.2f}".format)
ride_summary_df["Average Fare per Ride"] = ride_summary_df["Average Fare per Ride"].map("${:.2f}".format)
ride_summary_df["Average Fare per Driver"] = ride_summary_df["Average Fare per Driver"].map("${:.2f}".format)

# Display the data frame
ride_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [29]:
# 1. Read the merged DataFrame
ride_data_df.head(5)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [30]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
sum_of_fare = ride_data_df.groupby(["type", "date"]).sum()[["fare"]]
sum_of_fare.head(5)

KeyError: 'type'

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [33]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
jan_to_april = sum_of_fare.loc['2019-01-01':'2019-04-28']
jan_to_april.head(20)

NameError: name 'sum_of_fare' is not defined

In [32]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

jan_to_april.index = pd.to_datetime(jan_to_april.index)
jan_to_april

NameError: name 'jan_to_april' is not defined

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')